<div class="container">
  <div class="row">
    <h3>Admin Functions</h3>
  </div>
  <hr />
  <div class="row">
    <h4>Assign Children</h4>
    <form action="/admin/assign" method="post" role="form">
      <button class="btn btn-primary">Assign</button>
    </form>
  </div>
  <hr />
  <div class="row">
    <h4>Invite Friends</h4>
    <form action="/admin/invite" method="post" role="form">
      <div class="form-group">
        <label for="emails">Emails:</label>
        <input type="text" class="form-control" id="emails" name="emails" placeholder="Separate emails by commas">
      </div>
      <button class="btn btn-primary">Send Invites</button>
    </form>
  </div>
</div>
