<div class="container">
  <div class="row">
    <h3>Admin Functions</h3>
  </div>
  <hr />
  <div class="row">
    <h4>Assign Children</h4>
    <form action="/admin/assign" method="post" role="form">
      <button class="btn btn-primary">Assign</button>
      {{{token}}}
    </form>
  </div>
  <hr />
  <div class="row">
    <h4>Invite Friends</h4>
    <form action="/admin/invite" method="post" role="form">
      <div class="form-group">
        <label for="emails">Emails:</label>
        <input type="text" class="form-control" id="emails" name="emails" placeholder="Separate emails by commas">
        {{{token}}}
      </div>
      <button class="btn btn-primary">Send Invites</button>
    </form>
  </div>
  <hr />
  <div class="row">
    <h4>Santa to Child Mappings</h4>
    {{#mappings}}
      <p>{{santa}} <span class="glyphicon glyphicon-chevron-right"></span> {{child}}</p>
    {{/mappings}}
  </div>
</div>
