<div class="container">
<h3>Edit Wishlist</h3>
<hr />
<form role="form" action="/wishlist" method="post">
  <div class="form-group">
    <label for="text">Wishlist</label>
    <textarea class="form-control" rows="10" id="text" name="text"></textarea>
  </div>
  <button type="submit" class="btn btn-primary submit-btn">Submit</button>
</form>
</div>