<div class="container">
<h3>Edit Wishlist</h3>
<hr />
<div id="epiceditor">
</div>
<br />
<form role="form" action="/wishlist" method="post">
  <input type="hidden" name="text" id="text-hidden" />
  <button id="wishlist-submit" type="submit" class="btn btn-primary submit-btn">Submit</button>
</form>
</div>
<script src="/js/epiceditor.min.js"></script>
<script src="/js/edit-wishlist.js"></script>
