<div class="container">
  <div class="row">
    <h3>Participating Santas</h3>  
  </div>  
  <div class="row">
    <ul>
      {{#names}}
        <li>{{.}}</li>
      {{/names}}
    </ul>
  </div>
</div>
